<div class="container">
{{view "App.NavBarView"}}
</div>

<div class="demo-headline">
     <h1 class="demo-logo">
       <div class="logo"></div>
       Mozart
       <small>Mozart is a client-side framework for creating beautiful URL-driven applications</small>
	<!--<small>Mozart is a client-side framework for creating beautiful URL-driven applications with radical simplicity</small>-->
	<!--<small>Mozart is a client-side framework for creating beautiful URL-driven applications with radically less effort</small>-->
     </h1>
</div>
	
<div class="row text-center">	
	<div class="span6">
		<a class="btn btn-large btn-danger" href="/start">Get started</a>
	</div>
	
	<div class="span6">
		<a class="btn btn-large btn-primary" href="/start">Download</a>
	</div>
</div>
	
<div class="row demo-tiles">
  <div class="span4">
    <div class="tile">
	  <img src="/img/icons/Infinity-Loop@2x.png" alt="Infinity-Loop" class="tile-image">
      <h3 class="tile-title">Key-Value Bindings</h3>
      <p>Synchronize property changes across any of the objects in your application. Avoid repetition and boilerplate by automatically broadcasting UI events to your data model and vice-versa.</p>
    </div>
  </div>

  <div class="span4">
    <div class="tile">
	  <img src="/img/icons/Map@2x.png" alt="Map" class="tile-image">
      <h3 class="tile-title">Relational Models</h3>
      <p>Declaratively apply one-to-many and many-to-many relationships between models. Traverse these relationships with a minimal and powerful query API.</p>
    </div>
  </div>

  <div class="span4">
    <div class="tile">
	  <img src="/img/icons/Watches@2x.png" alt="Watches" class="tile-image">
      <h3 class="tile-title">Exceptional Performance</h3>
      <p>Mozart can render thousands of views on a page without noticeable lag. This makes Mozart suitable for certain types of games as well as traditional web applications.</p>
    </div>
  </div>
</div>	
