<div class="width-fixed">
 <div class="navbar navbar-inverse">
  <div class="navbar-inner">
   <div class="container">
     <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
     <div class="nav-collapse collapse" id="nav-collapse-01">
       <ul class="nav">
		 <!--- use class=active on the li to highlight the current page -->
         <li>
           <a href="/">Mozart</a>
         </li>
         <li>
           <a href="/about">About</a>
         </li>
         <li>
           <a href="/start">Start</a>
         </li>
         <li>
           <a href="/guide">Guide</a>
         </li>
         <li>
           <a href="/reference/api">Reference</a>
         </li>
         <li>
           <a href="/demos">Demos</a>
         </li>
       </ul>
     </div>
   </div>
 </div>
</div>
